{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}


<section>
      <div class="container">
        <div class="row">
              <h1 class="text-center">Descar Anime de calidad en HD</h1>
        </div>
      </div>
</section>

<section>
      <div class="container">
        <div class="row">
          <h2 class="text-center">Animes Populares </h3>
          <hr>
        {%for anime  in animes %} 
        <div class="pull-left col-md-3 thumb-block">
          <a href="{% url 'anime_detail' anime.pk %}">
              <img  class="img-thumbnail thumb" src="{{anime.meta.mal.image}}" />
          </a>
          <h3>{{anime.title}} 
			{% if anime.meta.episode %}
			- {{anime.meta.episode}}
			{%endif %}
			</h3>
          </div>
        {% endfor %}
        </div>
        </div>
    </section>

<section>
      <div class="container">
        <div class="row">
          <h2 class="text-center">Animes en Emisión  </h3>
          <hr>
        {%for anime  in animes_emision %} 
        <div class="pull-left col-md-3 thumb-block">
          <a href="{% url 'anime_detail' anime.pk %}">
              <img  class="img-thumbnail thumb" src="{{anime.meta.mal.image}}" />
          </a>
          <h3>{{anime.title}}
		  {% if anime.meta.episode %}
			- {{anime.meta.episode}}
			{%endif %}
		  </h3>
          </div>
        {% endfor %}
        </div>
        </div>
    </section>




<section>
      <div class="container bg-dark">
        <div class="row">
          <h2 class="text-center">Ultimos agregados </h3>
          <hr>
        {%for torrent in last_torrents %} 
        <div class="pull-left col-md-3 thumb-block" id="torrent_{{torrent.id}}">
          {% if torrent.metatorrent %}
          <a href="{% url 'anime_detail' torrent.metatorrent.anime.pk %}">
              <img  class="img-thumbnail thumb" src="{{torrent.metatorrent.mal.image}}" />
          </a>
          {%endif%}
          <h3>{{torrent.metatorrent.anime.title|default:torrent.full}}</h3>
          [{{torrent.metatorrent.fansub.name}}] 
            episodio: {{torrent.metatorrent.episode|default:""}} 
            <small>{{torrent.metatorrent.format|default:""}}</small>
          </div>
        {% endfor %}
        </div>
        </div>
    </section>
    <section>
        <div class="container">
            <p class="lead text-center">
                {% blocktrans %}
                See <a href="http://pinaxproject.com/">pinaxproject.com</a>
                for more information.
                {% endblocktrans %}
            </p>
        </div>
</section>
{% endblock %}
