{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section>
      <div class="container">
        <div class="row">
        {%for torrent in last_torrents %} 
        <div class="pull-left col-md-3">
          <img width="300px" class="img-thumbnail" src="{{torrent.metatorrent.mal.image}}" />
          <h3>{{torrent.metatorrent.anime.title}}</h3>
          [{{torrent.metatorrent.fansub.name}}] 
            {{torrent.metatorrent.episode|default:""}} 
            <small>{{torrent.metatorrent.format|default:""}}</small>
          </div>
        {% endfor %}
        </div>
        </div>
    </section>
    <section>
        <div class="container">
            <p class="lead text-center">
                {% blocktrans %}
                See <a href="http://pinaxproject.com/">pinaxproject.com</a>
                for more information.
                {% endblocktrans %}
            </p>
        </div>
    </section>
{% endblock %}
