{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{{anime.title}}{% endblock %}

{% block body_class %}detail-anime{% endblock %}

{% block body_base %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8 ">
        <div class="media">
          <div class="media-left">
            <a href="">
              <img class="media-object" src="{{anime.meta.mal.image}}" alt="">
            </a>
            <span class="label label-default ">{{anime.meta.mal.status}}</span>
          </div>
          <div class="media-body">
            <h2> {{anime.title}} - <small>{{anime.meta.mal.title_en|default:""}}</small></h2>
			
            <div>{{anime.meta.mal.synonyms|default:""}}</div>
			<h3>Sipnosis</h3>
            <p>{{anime.meta.mal.synopsys|safe}}</p>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% regroup anime.metatorrent_set.all|dictsort:"episode" by fansub.name as fansub_list %}
        {% for fansub  in fansub_list %}
          <div>
              {{fansub.grouper}}
              <table class="table table-hover">
                {%for meta in fansub.list %}
                 <tr>
				 	<!--td>{{meta.torrent.full}}</td-->
					<td>{{meta.torrent.guessit.release_group}}</td>
					<td>{{meta.torrent.guessit.title}}</td>
					<td>{{meta.torrent.guessit.format}}</td>
					<td>{{meta.torrent.guessit.screen_size}}</td>
					<td>{{meta.torrent.guessit.episode}}</td>
				       <td>
					   <a href="{{meta.torrent.download_url}}">
					   <span class="glyphicon glyphicon-download"></span>
					   </a>
					   </td>
                 </tr>
                {% endfor %}
              </table>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
