{% extends "site_base.html" %} 
{% load i18n torrents_tags %}

{% block head_title %}{{anime.title}}{% endblock %}

{% block body_class %}detail-anime{% endblock %}

{% block body_base %}

<section>
      <div class="container">
        <div class="row">
          <h2 class="text-center">{{fansub.name}} </h3>
          <hr>
          {%for anime  in animes %} 
          {% ifchanged  anime.anime__title %}
        <div class="pull-left col-md-3 thumb-block">
          <a href="{% url 'anime_detail' anime.anime__id %}#{{anime.release_group__name}}">
              <img  class="img-thumbnail thumb" src="{{anime.mal__image}}" />
          </a>
          <h3 class="text-center">{{anime.anime__title}} <small>{{anime.mal__status}}</small> </h3>
        </div>
        {% endifchanged %}
        {% endfor %}
        </div>
        </div>
    </section>



{% endblock %}
